<app-modal *ngIf="showModal"></app-modal>
<div class="task-list">
  <h2>Lista de Tareas</h2>
  <div class="task-input">
    <input type="text" placeholder="Nueva tarea" (input)="actualizarDescripcion($event)" id="new-task-input">
    <button (click)="agregarTarea($event)" id="add-task-button">Agregar Tarea</button>
  </div>
  <ul id="task-list">
    <li *ngFor="let tarea of tareas" class="task-item">
      <span class="task-title">{{ tarea.descripcion }}</span>
      <div class="task-actions">
        <button class="update-button" (click)="confirmarActualizar(tarea)">Actualizar</button>
        <button class="delete-button" (click)="borrarTarea(tarea)">Eliminar</button>
        <button class="book-button">Recordatorio</button>
      </div>

      <div *ngIf="loading" class="spinner">Cargando...</div>
    </li>
  </ul>

  <div *ngIf="mostrarModalActualizar" class="modal">
    <div class="modal-content">
      <h2>Actualizando Tarea</h2>
      <form (submit)="actualizarTarea(); $event.preventDefault()">
        <label for="descripcion">Descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion" (change)="actualizarDescripcionActual($event)" value="{{tareaActualizar.descripcion}}"><br>
        <input type="submit" value="Actualizar">
      </form>
    </div>
  </div>

  
</div>
