<div class="container">
    <h1>Acerca de Cminder</h1>
    <p>Esto es Cminder:</p>
    <p>
        Cminder es una página web que te ayuda a gestionar tus tareas, pendientes y notas. 
        Está enfocada para ser utilizada por estudiantes, ofreciéndoles una herramienta 
        integral para organizar su vida académica.
    </p>
    <p>
        Con Cminder, puedes tener un control detallado de las asignaturas que estás cursando, 
        registrar tus notas y calcular tus promedios. Aunque estas funciones son útiles, 
        lo verdaderamente importante de Cminder es su capacidad para gestionar tareas.
    </p>
    <p>
        La aplicación permite crear listas de tareas con recordatorios, asegurando que nunca 
        olvides una fecha de entrega o un compromiso importante. Además, cuenta con un calendario 
        donde puedes añadir recordatorios adicionales, aparte de las tareas, para mantenerte 
        siempre organizado.
    </p>
    <p>
        Este proyecto fue desarrollado por Cristian Hernández y Mateo Ortiz, durante el primer 
        semestre del 2024. Nuestro objetivo es proporcionar una herramienta eficaz y fácil de 
        usar para mejorar la productividad y la organización de los estudiantes.
    </p>
</div>