<div class="modal" >
    <h1>Lista de recordatorios</h1>
    <div class="content">
        <div *ngFor="let recordatorio of recordatorios">
            <input type="checkbox" (change)="selectItem(recordatorio)" [checked]="selectedItems.includes(recordatorio)"> {{ recordatorio.titulo }}
        </div>
    </div>
    <div class="actions">
        <button class="modal-button delete" (click)="deleteSelectedItems()">Borrar recordatorios seleccionados</button>
        <button class="modal-button ok" (click)="onOk()">OK</button>
    </div>
</div>
