<button (click)="abrirModal()" class="botonborrarrecord">Borrar recordatorios</button>
<full-calendar *ngIf="calendarVisible" [options]="calendarOptions"></full-calendar>



<div *ngIf="mostrarModalRecordatorio" class="modal">
    <div class="modal-content">
      <span class="close" (click)="mostrarModalRecordatorio = false">×</span>
      <h2>Agregar Recordatorio</h2>
      <form (submit)="insertarRecordatorio(); $event.preventDefault()">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" (input)="actualizarTitulo($event)">
        <br>
        <input type="submit" value="Agregar">
      </form>
    </div>
  </div>
  

<div class="modalBorrar" *ngIf="mostrarModalRecordatorioBorrar">
 
  <div class="contentborrar">
    <h1>Lista de recordatorios</h1>
    <div *ngFor="let recordatorio of recordatorios">
      <input type="checkbox" (change)="selectItem(recordatorio)" [checked]="selectedItems.includes(recordatorio)">
      {{ recordatorio.titulo }} - {{ recordatorio.fechaMin }}
    </div>
    <div class="actions">
      <button class="modal-button delete" (click)="borrarRecordatoriosSeleccionados()">Borrar recordatorios seleccionados</button>
      <button class="modal-button ok" (click)="cerrarModal()">OK</button>
    </div>
  </div>

</div>
